<!-- extend base template -->
{% extends 'base.html' %}
{% block content %}
    <h1>About ScotchMate</h1>
        <div class="well">
            <h3>What is ScotchMate?</h3>
            <p>ScotchMate is a web application that allows users to submit reviews of Scotch whiskies to a database of other users' reviews.</p>
            <h3>Why would I want to do that?</h3>
            <p>Because Scotch is delicious. Also, ScotchMate can help keep track of your reviews and provide some basic statistics on your preferences. Is that bottle of Scotch you've had your eye on any good? Well, ScotchMate may be able to give you some insight. The more reviews in the database, the more accurate ScotchMate will be.</p>
            <h3>How does it work?</h3>
            <p>You can log into ScotchMate using your Facebook, Google, or Twitter account. Click on the "Add a Review" tab to enter a review. If your Scotch isn't in the list, you can add it to the database. You can peruse the Scotch List (it's sortable!) to see what's already in the database.</p>
            <h3>I have a good idea for ScotchMate/why doesn't ScotchMate do X?</h3>
            <p>Awesome! Thanks for your interest. I'm very much doing this as a hobby. I am a developer, but I don't usually do web-dev stuff. I mainly used this project as an opportunity to learn Flask. Feel free to email me your idea and maybe I'll get around to incorporating it, or if you'd like I can provide you the link to my github repository and we can collaborate:</p>
            <p>alexander.c.r.fordyce [at] gmail [dot] com</p>
        </div>
{% endblock %}