<html>
    <head>
        {% if title %}
        <title>{{ title }} - ScotchDB</title>
        {% else %}
        <title>Welcome to ScotchDB</title>
        {% endif %}
    </head>
    <body>
        <div>ScotchDB:
            <a href="{{ url_for('index') }}">Home</a>
            {% if not current_user.is_authenticated() %}
            | <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
            {% if current_user.is_authenticated() %}
            | <a href="{{ url_for('user', nickname=current_user.nickname) }}">Profile</a>
            | <a href="{{ url_for('add_review', nickname=current_user.nickname) }}">Add Review</a>
            | <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>