<!-- extend base template -->
{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
    var text_max = 500;
    $('#textarea_feedback').html(text_max + ' characters remaining');

    $('#textarea').keyup(function() {
        var text_length = $('#textarea').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback').html(text_remaining + ' characters remaining');
    });
});
</script>
        <h1>Edit your review</h1>
        {% include 'flash.html' %}
        <div class="well">
            <form class="form-horizontal" action="" method="post" name="edit_review">
                {{ form.hidden_tag() }}
                <div class="control-group{% if form.errors.whisky %} error {% endif %}">
                    <label class="control-label">Select Whisky:</label>
                    <div class="controls">
                        {{ form.whisky }}
                        {% for error in form.errors.whisky %}
                        <span class="help-inline">[{{ error }}]</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group{% if form.errors.notes %} error {% endif %}">
                    <label class="control-label">Notes:</label>
                    <div class="controls">
                        {{ form.notes(cols = 32, rows = 10, id = "textarea") }}
                        <div id="textarea_feedback"></div>
                        {% for error in form.errors.notes %}
                        <span class="help-inline">[{{ error }}]</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group{% if form.errors.score %} error {% endif %}">
                    <label class="control-label">Score:</label>
                    <div class="controls">
                        {{ form.score(size = 3, placeholder = "out of 100") }}
                        {% for error in form.errors.score %}
                        <span class="help-inline">[{{ error }}]</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn" type="submit" name="action" value="Cancel">
                        <input class="btn btn-primary" name="action" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
{% endblock %}