<!-- extend base template -->
{% extends "base.html" %}
{% block content %}
        <h1>Welcome to ScotchMate</h1>
        {% include 'flash.html' %}
        {% if current_user.is_authenticated() %}
        <h2>Hello, {{ current_user.nickname }}</h2>
            {% if reviews.items != [] %}
            <h3>Latest reviews:</h3>
            <div>
                {% for review in reviews.items %}
                {% include 'review.html' %}
                {% endfor %}
                <ul class="pager">
                    {% if reviews.has_prev %}
                    <li class="previous"><a href="{{ url_for('index', page=reviews.prev_num) }}">Newer Reviews</a></li>
                    {% else %}
                    <li class="previous disabled"><a href="#">Newer Reviews</a></li>
                    {% endif %}
                    {% if reviews.has_next %}
                    <li class="next"><a href="{{ url_for('index', page=reviews.next_num) }}">Older Reviews</a></li>
                    {% else %}
                    <li class="next disabled"><a href="#">Older Reviews</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        {% else %}
        <h2>Log in to continue</h2>
        <div class="well">
            <div class="control-group">
                <a href="{{ url_for('oauth_authorize', provider='facebook') }}"><img src="{{ url_for('.static', filename='facebook.png') }}"></a>
                <a href="{{ url_for('oauth_authorize', provider='twitter') }}"><img src="{{ url_for('.static', filename='twitter.png') }}"></a>
                <a href="{{ url_for('oauth_authorize', provider='google') }}"><img src="{{ url_for('.static', filename='google.png') }}" style="height:auto; width:auto; max-width:225px;"></a>
                <a href="{{ url_for('oauth_authorize', provider='reddit') }}"><img src="{{ url_for('.static', filename='reddit.png') }}" style="border-radius: 5px;"></a>
            </div>
        </div>
        {% endif %}
{% endblock %}