<table class="table table-hover">
    <tr>
        <td style="width: 70px;">
            <a href="{{ url_for('user', nickname=review.author.nickname) }}"><img src="{{ review.author.avatar(review.author.social_id, 'small') }}"></a>
        </td>
        <td>
            <p><a href="{{ url_for('user', nickname=review.author.nickname) }}"><i>{{ review.author.nickname }}</i></a> reviewed <strong><a href="{{ url_for('whisky', name=review.whisky.name) }}">{{ review.whisky.name }}</a></strong>:</p>
            <p>
                {% for line in review.notes.splitlines() %}
                    {{ line }}<br/>
                {% endfor %}
            </p>
            <p><strong>{{ review.score }}/100</strong></p>
            <p>[{{ momentjs(review.timestamp).calendar() }}]</p>
            {% if current_user.nickname == review.author.nickname %}
            <p><a href="{{ url_for('edit_review', review_id=review.id) }}">Edit</a></p>
            {% endif %}
        </td>
    </tr>
</table>