<!-- extend base template -->
{% extends 'base.html' %}
{% block content %}
        {% include 'flash.html' %}
        <table class="table">
            <tr>
                <td><img src="{{ user.avatar(user.social_id, 'large') }}"></td>
                <td>
                    <h1>{{ user.nickname }}</h1>
                    <div>
                    {% if user.about %}
                        <p>
                        {% for line in user.about.splitlines() %}
                        {{ line }}<br/>
                        {% endfor %}
                        </p>
                    {% endif %}
                    {% if user.last_seen %}<p><i>Last seen on: {{ momentjs(user.last_seen).calendar() }}</i></p>{% endif %}
                    </div>
                    {% if user.id == current_user.id %}
                    <a href="{{ url_for('edit_profile') }}">Edit</a>
                    {% endif %}
                </td>
                <td>
                    <h3>Stats</h3>
                    <table class="table table-hover">
                        <tr>
                            <td></td>
                            <td>Average Scores</td>
                            <td>Reviews</td>
                        </tr>
                        <tr>
                            <td>Overall:</td>
                            <td>{{ user.get_average_score(user.id) }}</td>
                            <td>{{ user.get_review_count(user.id) }}</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Blend:</td>
                            <td>{{ user.get_average_score(user.id, region='Blend') }}</td>
                            <td>{{ user.get_review_count(user.id, region='Blend') }}</td>
                        </tr>
                        <tr>
                            <td>Campbeltown:</td>
                            <td>{{ user.get_average_score(user.id, region='Campbeltown') }}</td>
                            <td>{{ user.get_review_count(user.id, region='Campbeltown') }}</td>
                        </tr>
                        <tr>
                            <td>Highland:</td>
                            <td>{{ user.get_average_score(user.id, region='Highland') }}</td>
                            <td>{{ user.get_review_count(user.id, region='Highland') }}</td>
                        </tr>
                        <tr>
                            <td>Island:</td>
                            <td>{{ user.get_average_score(user.id, region='Island') }}</td>
                            <td>{{ user.get_review_count(user.id, region='Island') }}</td>
                        </tr>
                        <tr>
                            <td>Islay:</td>
                            <td>{{ user.get_average_score(user.id, region='Islay') }}</td>
                            <td>{{ user.get_review_count(user.id, region='Islay') }}</td>
                        </tr>
                        <tr>
                            <td>Lowland:</td>
                            <td>{{ user.get_average_score(user.id, region='Lowland') }}</td>
                            <td>{{ user.get_review_count(user.id, region='Lowland') }}</td>
                        </tr>
                        <tr>
                            <td>Speyside:</td>
                            <td>{{ user.get_average_score(user.id, region='Speyside') }}</td>
                            <td>{{ user.get_review_count(user.id, region='Speyside') }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Reviews:</h3>
        {% for review in reviews.items %}
            {% include 'review.html' %}
        {% endfor %}
        <ul class="pager">
            {% if reviews.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page=reviews.prev_num) }}">Newer Reviews</a></li>
            {% else %}
                <li class="previous disabled"><a href="#">Newer Reviews</a></li>
            {% endif %}
            {% if reviews.has_next %}
                <li class="next"><a href="{{ url_for('index', page=reviews.next_num) }}">Older Reviews</a></li>
            {% else %}
                <li class="next disabled"><a href="#">Older Reviews</a></li>
            {% endif %}
        </ul>
{% endblock %}