<!-- extend base template -->
{% extends 'base.html' %}
{% block content %}
        {% include 'flash.html' %}
        <table class="table">
            <tr>
                <td><img src="{{ user.avatar(user.social_id, 'large') }}"></td>
                <td>
                    <h1>{{ user.nickname }}</h1>
                    <div>
                    {% if user.about %}
                        <p>
                        {% for line in user.about.splitlines() %}
                        {{ line }}<br/>
                        {% endfor %}
                        </p>
                    {% endif %}
                    {% if user.last_seen %}<p><i>Last seen on: {{ momentjs(user.last_seen).calendar() }}</i></p>{% endif %}
                    </div>
                    {% if user.id == current_user.id %}
                    <a href="{{ url_for('edit') }}">Edit</a>
                    {% endif %}
                </td>
                <td>
                    <div class="well">
                        <h3>Average Scores</h3>
                        <p>Overall: {{ user.get_average_score(user.id) }}</p>
                        <hr>
                        <p>Blend: {{ user.get_average_score(user.id, region='Blend') }}</p>
                        <p>Campbeltown: {{ user.get_average_score(user.id, region='Campbeltown') }}</p>
                        <p>Highland: {{ user.get_average_score(user.id, region='Highland') }}</p>
                        <p>Island: {{ user.get_average_score(user.id, region='Island') }}</p>
                        <p>Islay: {{ user.get_average_score(user.id, region='Islay') }}</p>
                        <p>Lowland: {{ user.get_average_score(user.id, region='Lowland') }}</p>
                        <p>Speyside: {{ user.get_average_score(user.id, region='Speyside') }}</p>
                    </div>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Reviews:</h3>
        {% for review in reviews.items %}
            {% include 'review.html' %}
        {% endfor %}
        <ul class="pager">
            {% if reviews.has_prev %}
                <li class="previous"><a href="{{ url_for('index', page=reviews.prev_num) }}">Newer Reviews</a></li>
            {% else %}
                <li class="previous disabled"><a href="#">Newer Reviews</a></li>
            {% endif %}
            {% if reviews.has_next %}
                <li class="next"><a href="{{ url_for('index', page=reviews.next_num) }}">Older Reviews</a></li>
            {% else %}
                <li class="next disabled"><a href="#">Older Reviews</a></li>
            {% endif %}
        </ul>
{% endblock %}