<!-- extend base template -->
{% extends 'base.html' %}
{% block content %}
        <script src="{{ url_for('.static', filename='js/sorttable.js') }}"></script>
        <h1>Scotch List</h1>
        <div class="well">
            <table class="table table-hover sortable">
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Region</strong></td>
                    <td><strong>Average Score</strong></td>
                </tr>
                {% for whisky in whiskies %}
                <tr>
                    <td><a href="{{ url_for('whisky', name=whisky.name) }}">{{ whisky.name }}</a></td>
                    <td>{{ whisky.region }}</td>
                    <td>{{ whisky.average_score(name=whisky.name) }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}